@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/box";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/background-size";

$default-font-color: #666666;
$light-grey: #eee;

/* Mixins to help remember what box-align|pack are for. Also allows us to easily
   switch to new flexbox in the future. */
@mixin flexbox-vert($val: center) {
  @include box-align($val);
}

@mixin flexbox-horiz($val: center) {
  @include box-pack($val);
}

@mixin user-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
  user-select: none;
}

a {
	color: navy;
	text-decoration: none;
}

a:hover {
	color: navy;
	text-decoration: underline;
}
