<!DOCTYPE html>
<html>
<head>
  <title>Jasmine Test Runner</title>
  <link rel="stylesheet" type="text/css" href="lib/jasmine.css">
  <script type="text/javascript" src="lib/jasmine.js"></script>
  <script type="text/javascript" src="lib/jasmine.html.js"></script>

  <script src="lib/jquery.js" type="text/javascript" charset="utf-8"></script>
  <script src="../lib/spine.js" type="text/javascript" charset="utf-8"></script>
  <script src="../lib/local.js" type="text/javascript" charset="utf-8"></script>
  <script src="../lib/relation.js" type="text/javascript" charset="utf-8"></script>
  
  <script src="specs/class.js" type="text/javascript" charset="utf-8"></script>
  <script src="specs/events.js" type="text/javascript" charset="utf-8"></script>
  <script src="specs/model.js" type="text/javascript" charset="utf-8"></script>
  <script src="specs/model.local.js" type="text/javascript" charset="utf-8"></script>
  <script src="specs/model.relation.js" type="text/javascript" charset="utf-8"></script>
  <script src="specs/controller.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>

  <script type="text/javascript">
    jasmine.getEnv().addReporter(new jasmine.TrivialReporter());
    jasmine.getEnv().execute();
  </script>
</body>
</html>