
/* =============================================================================
   App specific CSS file.

   This is usually where the site/app's CSS specific rules are setup.

   ========================================================================== */


@import url('ui/widget.css');

body:before {
  content: ' ☺ H E L L O ☺ ';
  font: 10em Helvetica, sans-serif;
  color: hotPink;
}

.css-reved .img-6 { background: url('../img/6.jpg'); }
