<div id="top">
	{{#if Em.MyApp.user.name}}Entering as {{Em.MyApp.user.name}}{{else}}Please come in...{{/if}}
</div>
<div id="access">
	Who are you? {{#view Em.MyApp.UsernameField valueBinding="Em.MyApp.user.name" placeholder="Enter your user name" id="username-field"}}{{/view}}
	{{#view Em.MyApp.AccessButton action="login"}}Log in{{/view}}

</div>
<div id="bottom">
	MyApp v{{Em.MyApp.VERSION}}
</div>

