<!DOCTYPE html>
<html ng-app="yeomanStats">
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/favicon.ico">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,800" rel="stylesheet" type="text/css">
  <link href="/static/css/app.css" media="all" rel="stylesheet" type="text/css">
  <title>{{ APP.title }}</title>
</head>
<body>

<header>
  <h1>{{ APP.title }}</h1>
</header>

<section id="container">
  Baller charts!
  <nav id="test_buttons">
  	<button data-method="GET" data-rpc="cmd">GET cmd</button>
  	<button data-method="POST" data-rpc="cmd">POST cmd</button>
  </nav>
  <textarea id="post_body" style="width:300px;height:100px;">
{
  "version": 1.0,
  "cmd": "scaffold"
}
</textarea>
</section>

<footer>
  <div>Version: {{ APP.version }}</div>
</footer>
<script src="/static/js/libs/angular-1.0.0rc8/angular-1.0.0rc8.min.js"></script>
<script src="/static/js/controllers.js"></script>
<script src="/static/js/app.js"></script>
</body>
</html>
